<div class="card bg-dark bg-gradient text-center">
    <div class="card-header">
      <h3>Best trending images 2022</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        laboriosam consequatur a nihil cumque dolores repellat reprehenderit
        officia cum, assumenda corporis laborum porro quibusdam aliquid quasi
        aliquam neque, ducimus veritatis?
      </p>
    </div>
    <div class="card-footer text-muted">2022</div>
  </div>
  